<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ptb.epics.eve.editor.EveEditorPerspective"
            id="EveEditorPerpective"
            name="Eve-Editor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            default="true"
            extensions="scml"
            filenames="*.scml"
            id="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            name="de.ptb.epics.eve.editor.graphical.GraphicalEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.ptb.epics.eve.editor.views.ScanView"
            id="de.ptb.epics.eve.editor.views.ScanView"
            name="Scan View"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.ScanModulView"
            id="de.ptb.epics.eve.editor.views.ScanModulView"
            name="Scan Modul View"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.ErrorView"
            id="de.ptb.epics.eve.editor.views.ErrorView"
            name="Errors"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.MotorAxisView"
            id="de.ptb.epics.eve.editor.views.MotorAxisView"
            name="Motor Axis View"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.DetectorChannelView"
            id="de.ptb.epics.eve.editor.views.DetectorChannelView"
            name="Detector Channel View"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.PlotWindowView"
            id="de.ptb.epics.eve.editor.views.PlotWindowView"
            name="Plot Window View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.ptb.epics.eve"
            name="EVE">
      </category>
      <wizard
            category="de.ptb.epics.eve"
            class="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            icon="icons/sample.gif"
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            name="Scan Description">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.ptb.epics.eve.editor.handOverActionSet"
            label="Hand-Over"
            visible="false">
         <menu
               id="handOverMenu"
               label="Hand Over">
            <separator
                  name="handOverGroup">
            </separator>
         </menu>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverSilentAction"
               id="de.ptb.epics.eve.editor.actions.HandOverSilentAction"
               label="HandOverSilent"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="Hand Over Silent">
         </action>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverAction"
               id="de.ptb.epics.eve.editor.actions.HandOverAction"
               label="HandOver"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="Hand Over">
         </action>
      </actionSet>
   </extension>

</plugin>
