<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ptb.epics.eve.editor.EveEditorPerspective"
            id="EveEditorPerpective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            default="true"
            extensions="scml"
            filenames="*.scml"
            id="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.ptb.epics.eve.editor.views.ScanView"
            id="de.ptb.epics.eve.editor.views.ScanView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.ScanModulView"
            id="de.ptb.epics.eve.editor.views.ScanModulView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.ErrorView"
            id="de.ptb.epics.eve.editor.views.ErrorView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.MotorAxisView"
            id="de.ptb.epics.eve.editor.views.MotorAxisView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.DetectorChannelView"
            id="de.ptb.epics.eve.editor.views.DetectorChannelView"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            class="de.ptb.epics.eve.editor.views.PlotWindowView"
            id="de.ptb.epics.eve.editor.views.PlotWindowView"
            name="%view.name.4"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.ptb.epics.eve"
            name="%category.name">
      </category>
      <wizard
            category="de.ptb.epics.eve"
            class="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            icon="icons/sample.gif"
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.ptb.epics.eve.editor.handOverActionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="handOverMenu"
               label="%menu.label">
            <separator
                  name="handOverGroup">
            </separator>
         </menu>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverSilentAction"
               id="de.ptb.epics.eve.editor.actions.HandOverSilentAction"
               label="%action.label"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="%action.tooltip">
         </action>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverAction"
               id="de.ptb.epics.eve.editor.actions.HandOverAction"
               label="%action.label.0"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="%action.tooltip.0">
         </action>
      </actionSet>
   </extension>

</plugin>
