<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="de.ptb.epics.eve.viewer.EveEnginePerspective"
          id="EveEnginePerspective">
      </perspective>
      <perspective
            class="de.ptb.epics.eve.viewer.EveDevicePerspective"
            id="EveDevicePerspective"
            name="%perspective.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/css.gif"
            class="de.ptb.epics.eve.viewer.PlayListView"
            id="PlayListView">
      </view>
      <view
            name="%view.name.0"
            icon="icons/css.gif"
            class="de.ptb.epics.eve.viewer.GraphView"
            id="GraphView">
      </view>
      <view
            name="%view.name.1"
            icon="icons/css.gif"
            class="de.ptb.epics.eve.viewer.MeasuringStationView"
            id="MeasuringStationView">
      </view>
      <view
            name="%view.name.2"
            icon="icons/css.gif"
            class="de.ptb.epics.eve.viewer.MessagesView"
            id="MessagesView">
      </view>
      <view
            class="de.ptb.epics.eve.viewer.DeviceInspectorViewer"
            icon="icons/css.gif"
            id="DeviceInspectorView"
            name="%view.name.3"/>
      <view
            class="de.ptb.epics.eve.viewer.DeviceOptionsViewer"
            icon="icons/css.gif"
            id="DeviceOptionsView"
            name="%view.name.4"/>
      <view
            class="de.ptb.epics.eve.viewer.PlotView"
            icon="icons/css.gif"
            id="PlotView"
            name="%view.name.5"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="SamplePerspective">
         <view
               relative="View3"
               visible="true"
               relationship="stack"
               id="View4">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.ptb.epics.eve.viewer.engineControlActionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="engineControlMenu"
               label="%menu.label">
            <separator name="engineControlGroup"/>
         </menu>
         <action
               class="de.ptb.epics.eve.viewer.actions.TriggerAction"
               icon="icons/sample.gif"
               id="de.ptb.epics.eve.viewer.actions.TriggerAction"
               label="%action.label.4"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip.4">
         </action>
         <action
               class="de.ptb.epics.eve.viewer.actions.KillAction"
               icon="icons/sample.gif"
               id="de.ptb.epics.eve.viewer.actions.KillAction"
               label="%action.label"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip"/>
         
        
         <action
               class="de.ptb.epics.eve.viewer.actions.SkipAction"
               icon="icons/skip.gif"
               id="de.ptb.epics.eve.viewer.actions.SkipAction"
               label="%action.label.0"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip.0"/>
          <action
               class="de.ptb.epics.eve.viewer.actions.StopAction"
               icon="icons/stop.gif"
               id="de.ptb.epics.eve.viewer.StopAction"
               label="%action.label.1"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip.1"/>
         <action
               class="de.ptb.epics.eve.viewer.actions.PauseAction"
               icon="icons/pause.gif"
               id="de.ptb.epics.eve.viewer.actions.PauseAction"
               label="%action.label.2"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip.2"/>
         <action
               class="de.ptb.epics.eve.viewer.actions.PlayAction"
               icon="icons/play.gif"
               id="de.ptb.epics.eve.viewer.actions.PlayAction"
               label="%action.label.3"
               menubarPath="engineControlMenu/engineControlGroup"
               style="push"
               toolbarPath="engineControlGroup"
               tooltip="%action.tooltip.3"/>
      </actionSet>
      <actionSet
            id="de.ptb.epics.eve.viewer.engineConnectionActionSet"
            label="%actionSet.label.1"
            visible="false">
         <menu
               id="engineConnectionMenu"
               label="%menu.label.1">
            <separator name="engineConnectionGroup"/>
         </menu>
         
         <action
               class="de.ptb.epics.eve.viewer.actions.StartAndConnectAction"
               icon="icons/sample.gif"
               id="de.ptb.epics.eve.viewer.actions.StartAndConnectAction"
               label="%action.label.5"
               menubarPath="engineConnectionMenu/engineConnectionGroup"
               style="push"
               tooltip="%action.tooltip.5"/>
         <action
               class="de.ptb.epics.eve.viewer.actions.DisconnectAction"
               icon="icons/sample.gif"
               id="de.ptb.epics.eve.viewer.actions.DisconnectAction"
               label="%action.label.6"
               menubarPath="engineConnectionMenu/engineConnectionGroup"
               style="push"
               tooltip="%action.tooltip.6"/>
         <action
               class="de.ptb.epics.eve.viewer.actions.ConnectAction"
               icon="icons/sample.gif"
               id="de.ptb.epics.eve.viewer.actions.ConnectAction"
               label="%action.label.7"
               menubarPath="engineConnectionMenu/engineConnectionGroup"
               style="push"
               tooltip="%action.tooltip.7"/>
      </actionSet>
   </extension>

</plugin>
