<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.eve.product.application"
            name="Css">
         <property
               name="appName"
               value="Css">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- DESY (Hamburg, Germany)&#x0A;- SNS (Oak Ridge, TN).&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.&#x0A;&#x0A;See http://ics-web.sns.ornl.gov/css">
         </property>
         <property
               name="windowImages"
               value="icons/css16.gif,icons/css32.gif,icons/css48.gif,icons/css64.gif,icons/css128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,190,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,210,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introBrandingImageText"
               value="eveCSS">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/css64.gif">
         </property>
         <property
               name="introTitle"
               value="Welcome to Control System Studio (CSS)!">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.eve.product.StartupParameters">
      </startupParameters>
      <workbench
            class="org.csstudio.eve.product.Workbench">
      </workbench>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.eve.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/intro_data.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.eve.product.EvePerspective"
            id="org.csstudio.eve.product.perspective.eve"
            name="EVE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <visibleWhen>
               <reference
                     definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
               </reference>
            </visibleWhen>
         </menu>
         <menu
               id="secondfilemenu"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
            <visibleWhen>
               <not>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </not>
            </visibleWhen>
         </menu>
         <menu
               id="edit"
               label="Edit"
               mnemonic="E">
         </menu>
         <separator
               name="additions">
         </separator>
         <menu
               id="window"
               label="Window"
               mnemonic="W">
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.ptb.epics.eve.editor.EditorPerspectiveActive">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="EveEditorPerpective">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
