<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ptb.epics.eve.editor.EveEditorPerspective"
            id="EveEditorPerpective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            default="true"
            extensions="scml"
            filenames="*.scml"
            id="de.ptb.epics.eve.editor.graphical.GraphicalEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.scanview.ScanView"
            id="de.ptb.epics.eve.editor.views.ScanView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.scanmoduleview.ScanModuleView"
            id="de.ptb.epics.eve.editor.views.ScanModulView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.ErrorView"
            id="de.ptb.epics.eve.editor.views.ErrorView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.motoraxisview.MotorAxisView"
            id="de.ptb.epics.eve.editor.views.MotorAxisView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.detectorchannelview.DetectorChannelView"
            id="de.ptb.epics.eve.editor.views.DetectorChannelView"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.plotwindowview.PlotWindowView"
            id="de.ptb.epics.eve.editor.views.PlotWindowView"
            name="%view.name.4"
            restorable="true">
      </view>
      <category
            id="eveEditorCategory"
            name="EVE Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.ptb.epics.eve"
            name="%category.name">
      </category>
      <wizard
            category="de.ptb.epics.eve"
            class="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            icon="icons/sample.gif"
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            name="%wizard.name"
            project="true">
      </wizard>
      <primaryWizard
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.ptb.epics.eve.editor.handOverActionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="handOverMenu"
               label="%menu.label">
            <separator
                  name="handOverGroup">
            </separator>
         </menu>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverAction"
               icon="icons/profile_exc.gif"
               id="de.ptb.epics.eve.editor.actions.HandOverSilentAction"
               label="%action.label"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="Add to Play List">
         </action>
         <action
               class="de.ptb.epics.eve.editor.actions.HandOverAction"
               icon="icons/run.gif"
               id="de.ptb.epics.eve.editor.actions.HandOverAction"
               label="%action.label.0"
               menubarPath="handOverMenu/handOverGroup"
               style="push"
               toolbarPath="handOverGroup"
               tooltip="Add to Play List and switch to Engine Perspective">
         </action>
      </actionSet>
   </extension>
   <extension
         id="de.ptb.epics.eve.editor.PerspectiveExtension"
         name="PerspectiveExtension"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file/new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/sample.gif"
               label="Scan Description"
               style="push">
            <parameter
                  name="newWizardId"
                  value="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard">
            </parameter>
            <visibleWhen>
               <reference
                     definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:editors">
         <command
               commandId="de.ptb.epics.eve.editor.start"
               icon="icons/threadgroup_obj.gif"
               label="EveEditor"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:file">
         <command
               commandId="org.eclipse.ui.file.saveAs"
               icon="icons/saveas_edit.gif"
               label="Save &amp;As..."
               style="push">
            <visibleWhen>
               <reference
                     definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAll"
               icon="icons/saveall_edit.gif"
               label="Save All"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.ptb.epics.eve.editor.EditorPerspectiveActive">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="EveEditorPerpective">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ptb.epics.eve.editor.handler.EveEditorStartCommandHandler"
            id="de.ptb.epics.eve.editor.start"
            name="EveEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/concepts/toc_concepts.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/reference/toc_reference.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/tasks/toc_tasks.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="help/index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
   </extension>
</plugin>
