<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.ptb.epics.eve.editor.dispatcher" name="ScanDescriptionDispatcher" schema="schema/de.ptb.epics.eve.editor.dispatcher.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ptb.epics.eve.editor.EveEditorPerspective"
            id="EveEditorPerpective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ptb.epics.eve.editor.gef.ScanDescriptionEditor"
            contributorClass="de.ptb.epics.eve.editor.gef.ScanDescriptionEditorActionBarContributor"
            default="true"
            extensions="scml"
            filenames="*.scml"
            id="de.ptb.epics.eve.editor.gef.GraphicalEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.scanview.ui.ScanView"
            icon="icons/devices/scan.gif"
            id="de.ptb.epics.eve.editor.views.ScanView"
            name="Scan View"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.chainview.ChainView"
            icon="icons/devices/chain.gif"
            id="de.ptb.epics.eve.editor.views.ChainView"
            name="Chain View"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.scanmoduleview.ScanModuleView"
            icon="icons/devices/scanmodule.gif"
            id="de.ptb.epics.eve.editor.views.ScanModulView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.errorview.ErrorView"
            icon="icons/errorwarning_tab.gif"
            id="de.ptb.epics.eve.editor.views.ErrorView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.motoraxisview.MotorAxisView"
            icon="icons/devices/axis.gif"
            id="de.ptb.epics.eve.editor.views.MotorAxisView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.detectorchannelview.DetectorChannelView"
            icon="icons/devices/channel.gif"
            id="de.ptb.epics.eve.editor.views.DetectorChannelView"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            category="eveEditorCategory"
            class="de.ptb.epics.eve.editor.views.plotwindowview.PlotWindowView"
            icon="icons/devices/plot.gif"
            id="de.ptb.epics.eve.editor.views.PlotWindowView"
            name="%view.name.4"
            restorable="true">
      </view>
      <category
            id="eveEditorCategory"
            name="EVE Editor">
      </category>
      <view
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.ptb.epics.eve"
            name="%category.name">
      </category>
      <wizard
            category="de.ptb.epics.eve"
            class="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            icon="icons/sample.gif"
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard"
            name="%wizard.name"
            project="true">
      </wizard>
      <primaryWizard
            id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard">
      </primaryWizard>
   </extension>
   <extension
         id="de.ptb.epics.eve.editor.PerspectiveExtension"
         name="PerspectiveExtension"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.ptb.epics.eve.editor.wizards.NewScanDescriptionWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:editors">
         <command
               commandId="de.ptb.epics.eve.editor.start"
               icon="icons/threadgroup_obj.gif"
               label="EveEditor"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.ptb.epics.eve.editor.toolbar.file">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  icon="icons/fldr_obj.gif"
                  label="Open"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="de.ptb.epics.eve.editor.toolbar.save">
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/save_edit.gif"
                  label="Save"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  icon="icons/saveall_edit.gif"
                  label="Save All"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="icons/saveas_edit.gif"
                  label="Save &amp;As..."
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="de.ptb.epics.eve.editor.toolbar.handover">
            <command
                  commandId="de.ptb.epics.eve.editor.command.handover"
                  icon="icons/run.gif"
                  style="push"
                  tooltip="Add to Playlist and switch to Engine Perspective">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.ptb.epics.eve.editor.command.handover.switchPerspective"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="de.ptb.epics.eve.editor.command.handover"
                  icon="icons/profile_exc.gif"
                  style="push"
                  tooltip="Add to Playlist">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.ptb.epics.eve.editor.command.handover.switchPerspective"
                     value="false">
               </parameter>
            </command>
         </toolbar>
         <toolbar
               id="de.ptb.epics.eve.editor.toolbar.editor">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="de.ptb.epics.eve.editor.toolbar.zoom">
            <command
                  commandId="org.eclipse.gef.zoom_in"
                  icon="icons/zoom_plus.gif"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.gef.zoom_out"
                  icon="icons/zoom_minus.gif"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.EditorPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.eventcomposite.tablepopup">
         <menu
               icon="icons/devices/detector.gif"
               label="Detector">
            <dynamic
                  class="de.ptb.epics.eve.editor.views.eventcomposite.EventMenuContributionDetector"
                  id="de.ptb.epics.eve.editor.views.eventcomposite.tablepopup.detectormenucontribution">
            </dynamic>
         </menu>
         <menu
               icon="icons/monitor_obj.gif"
               label="Monitor">
            <dynamic
                  class="de.ptb.epics.eve.editor.views.eventcomposite.EventMenuContributionMonitor"
                  id="de.ptb.epics.eve.editor.views.eventcomposite.tablepopup.monitormenucontribution">
            </dynamic>
         </menu>
         <menu
               icon="icons/waiting.gif"
               label="Schedule">
            <dynamic
                  class="de.ptb.epics.eve.editor.views.eventcomposite.EventMenuContributionSchedule"
                  id="de.ptb.epics.eve.editor.views.eventcomposite.tablepopup.schedulemenucontribution">
            </dynamic>
         </menu>
         <separator
               name="de.ptb.epics.eve.editor.views.eventcomposite.tablepopup.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeevent"
               icon="icons/rem_co.gif"
               label="Remove Event"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallevents"
               icon="icons/progress_remall.gif"
               label="Remove All Events"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="de.ptb.epics.eve.editor.views.eventcomposite.tablepopup.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about Events"
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/events.html">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.popup">
         <dynamic
               class="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.MenuContribution"
               id="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.popup.dynamic">
         </dynamic>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.popup.import.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.importcsvaxes"
               icon="icons/importpref_obj.gif"
               label="Import CSV..."
               style="push">
         </command>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.popup.remove.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeaxis"
               icon="icons/rem_co.gif"
               label="Remove Axis"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallaxis"
               icon="icons/progress_remall.gif"
               label="Remove All Axes"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.popup">
         <dynamic
               class="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.MenuContribution"
               id="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.popup.dynamic">
         </dynamic>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.popup.spearator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removechannel"
               icon="icons/rem_co.gif"
               label="Remove Channel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallchannels"
               icon="icons/progress_remall.gif"
               label="Remove All Channels"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.popup">
         <dynamic
               class="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.MenuContribution"
               id="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.popup.menucontribution">
         </dynamic>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.popup.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeprescan"
               icon="icons/rem_co.gif"
               label="Remove Prescan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallprescans"
               icon="icons/progress_remall.gif"
               label="Remove All Prescans"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.popup">
         <dynamic
               class="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.MenuContribution"
               id="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.popup.menucontribution">
         </dynamic>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.popup.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removepostscan"
               icon="icons/rem_co.gif"
               label="Remove Postscan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallpostscans"
               icon="icons/progress_remall.gif"
               label="Remove All Postscans"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.popup">
         <dynamic
               class="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.MenuContribution"
               id="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.popup.menucontribution">
         </dynamic>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.popup.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removepositioning"
               icon="icons/rem_co.gif"
               label="Remove Positioning"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallpositionings"
               icon="icons/progress_remall.gif"
               label="Remove All Positionings"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.popup">
         <command
               commandId="de.ptb.epics.eve.editor.command.addplotwindow"
               icon="icons/devices/plot.gif"
               label="Add Plot Window"
               style="push">
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.changeplotid"
               icon="icons/rename.gif"
               label="Change Plot Id"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.popup.separator"
               visible="true">
         </separator>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeplotwindow"
               icon="icons/rem_co.gif"
               label="Remove Plot Window"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.ptb.epics.eve.editor.command.removeallplotwindows"
               icon="icons/progress_remall.gif"
               label="Remove All Plot Windows"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.oneitemselected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.ptb.epics.eve.editor.gef.GraphicalEditor">
         <command
               commandId="org.eclipse.ui.edit.undo"
               label="Undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               label="Redo"
               style="push">
         </command>
         <separator
               name="de.ptb.epics.eve.editor.gef.GraphicalEditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <separator
               name="de.ptb.epics.eve.editor.gef.GraphicalEditor.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="de.ptb.epics.eve.editor.gef.GraphicalEditor.separator"
               visible="true">
         </separator>
         <menu
               label="Add">
            <dynamic
                  class="de.ptb.epics.eve.editor.gef.ContextMenuAddContributionItem"
                  id="de.ptb.epics.eve.editor.dynamic.add.popup">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.expressions.scanmoduleselected">
                  </reference>
                  <reference
                        definitionId="de.ptb.epics.eve.editor.expressions.starteventselected">
                  </reference>
               </or>
            </visibleWhen>
         </menu>
         <menu
               label="Fill">
            <command
                  commandId="de.ptb.epics.eve.editor.command.saveallaxispositions"
                  icon="icons/devices/axis.gif"
                  label="Save Axis Positions"
                  style="push">
            </command>
            <command
                  commandId="de.ptb.epics.eve.editor.command.saveallchannelvalues"
                  icon="icons/devices/channel.gif"
                  label="Save Channel Values"
                  style="push">
            </command>
            <command
                  commandId="de.ptb.epics.eve.editor.command.clear"
                  icon="icons/clear.gif"
                  label="Clear"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.ptb.epics.eve.editor.expressions.scanmoduleselected">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="org.eclipse.ui.file.print"
               label="Print"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="View">
            <command
                  commandId="org.eclipse.gef.zoom_in"
                  label="Zoom In"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.gef.zoom_out"
                  label="Zoom Out"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.ptb.epics.eve.editor.views.MotorAxisView">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about the Motor Axis View."
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/motoraxis.html">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.ptb.epics.eve.editor.views.DetectorChannelView">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about the Detector Channel View."
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/detectorchannels.html">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.ptb.epics.eve.editor.views.PlotWindowView">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about the Plot Wiondow View."
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/plotwindow.html">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.ptb.epics.eve.editor.views.ScanModulView">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about the Scan Module View"
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/scanmodule.html">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.ptb.epics.eve.editor.views.ScanView">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/conditional_ovr.gif"
               label="Click to learn more about the Chain View"
               style="push">
            <parameter
                  name="href"
                  value="/de.ptb.epics.eve.editor/help/content/concepts/chain.html">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.ptb.epics.eve.editor.EditorPerspectiveActive">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="EveEditorPerpective">
            </equals>
         </with>
      </definition>
      <definition
            id="de.ptb.epics.eve.editor.expressions.emptyselection">
         <with
               variable="selection">
            <count
                  value="0">
            </count>
         </with>
      </definition>
      <definition
            id="de.ptb.epics.eve.editor.expressions.oneitemselected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="de.ptb.epics.eve.editor.expressions.scanmoduleselected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="de.ptb.epics.eve.editor.gef.editparts.ScanModuleEditPart">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.ptb.epics.eve.editor.expressions.starteventselected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="de.ptb.epics.eve.editor.gef.editparts.StartEventEditPart">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ptb.epics.eve.editor.handler.Start"
            id="de.ptb.epics.eve.editor.start"
            name="EveEditor">
      </command>
      <command
            defaultHandler="de.ptb.epics.eve.editor.handler.HandOver"
            id="de.ptb.epics.eve.editor.command.handover"
            name="Handover">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.handover.switchPerspective"
               name="switchPerspective"
               optional="false">
         </commandParameter>
      </command>
      <category
            id="de.ptb.epics.eve.editor.commands"
            name="Editor">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.commands"
            id="de.ptb.epics.eve.editor.command.addappended"
            name="Add Appended Scan Module">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.commands"
            id="de.ptb.epics.eve.editor.command.addnested"
            name="Add nested Scan Module">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.eventcomposite.commands"
            name="Event Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.eventcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.eventcomposite.AddEvent"
            id="de.ptb.epics.eve.editor.command.addevent"
            name="AddEvent">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.AddEvent.EventId"
               name="EventId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="de.ptb.epics.eve.editor.command.AddEvent.EventType"
               name="EventType"
               optional="false">
         </commandParameter>
         <commandParameter
               id="de.ptb.epics.eve.editor.command.AddEvent.EventImpact"
               name="Impact"
               optional="false">
         </commandParameter>
         <commandParameter
               id="de.ptb.epics.eve.editor.command.AddEvent.ActivePart"
               name="ActivePart"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.eventcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.eventcomposite.RemoveEvent"
            id="de.ptb.epics.eve.editor.command.removeevent"
            name="RemoveEvent">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.eventcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.eventcomposite.RemoveAllEvents"
            id="de.ptb.epics.eve.editor.command.removeallevents"
            name="Remove All Events">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.commands"
            name="Motor Axis Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.motoraxiscomposite.AddAxis"
            id="de.ptb.epics.eve.editor.command.addaxis"
            name="Add Axis">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addaxis.motoraxisid"
               name="Motor Axis Id"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.motoraxiscomposite.ImportAxesFromCSV"
            id="de.ptb.epics.eve.editor.command.importcsvaxes"
            name="Import Axes from csv">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.motoraxiscomposite.RemoveAxis"
            id="de.ptb.epics.eve.editor.command.removeaxis"
            name="Remove Axis">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.motoraxiscomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.motoraxiscomposite.RemoveAllAxes"
            id="de.ptb.epics.eve.editor.command.removeallaxis"
            name="Remove All Axes">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.commands"
            name="DetectorChannel Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.detectorchannelcomposite.AddChannel"
            id="de.ptb.epics.eve.editor.command.addchannel"
            name="Add Channel">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addchannel.detectorchannelid"
               name="Detector Channel Id"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.detectorchannelcomposite.RemoveChannel"
            id="de.ptb.epics.eve.editor.command.removechannel"
            name="Remove Channel">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.detectorchannelcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.detectorchannelcomposite.RemoveAllChannels"
            id="de.ptb.epics.eve.editor.command.removeallchannels"
            name="Remove All Channels">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.commands"
            name="Prescan Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.prescancomposite.AddPrescan"
            id="de.ptb.epics.eve.editor.command.addprescan"
            name="Add Prescan">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addprescan.prescanid"
               name="Prescan Id"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.prescancomposite.RemovePrescan"
            id="de.ptb.epics.eve.editor.command.removeprescan"
            name="Remove Prescan">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.prescancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.prescancomposite.RemoveAllPrescans"
            id="de.ptb.epics.eve.editor.command.removeallprescans"
            name="Remove All Prescans">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.commands"
            name="Postscan Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.postscancomposite.AddPostscan"
            id="de.ptb.epics.eve.editor.command.addpostscan"
            name="Add Postscan">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addpostscan.postscanid"
               name="Postscan Id"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.postscancomposite.RemovePostscan"
            id="de.ptb.epics.eve.editor.command.removepostscan"
            name="Remove Postscan">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.postscancomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.postscancomposite.RemoveAllPostscans"
            id="de.ptb.epics.eve.editor.command.removeallpostscans"
            name="Remove all Postscans">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.commands"
            name="Positioning Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.positioningcomposite.AddPositioning"
            id="de.ptb.epics.eve.editor.command.addpositioning"
            name="Add Positioning">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addpositioning.motoraxisid"
               name="MotorAxisId"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.positioningcomposite.RemovePositioning"
            id="de.ptb.epics.eve.editor.command.removepositioning"
            name="Remove Positioning">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.positioningcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.positioningcomposite.RemoveAllPositionings"
            id="de.ptb.epics.eve.editor.command.removeallpositionings"
            name="Remove All Positionings">
      </command>
      <category
            id="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.commands"
            name="Plot Composite">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.plotcomposite.AddPlotWindow"
            id="de.ptb.epics.eve.editor.command.addplotwindow"
            name="Add Plot Window">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.plotcomposite.ChangePlotId"
            id="de.ptb.epics.eve.editor.command.changeplotid"
            name="Change Plot Id">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.plotcomposite.RemovePlotWindow"
            id="de.ptb.epics.eve.editor.command.removeplotwindow"
            name="Remove Plot Window">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.views.scanmoduleview.plotcomposite.commands"
            defaultHandler="de.ptb.epics.eve.editor.handler.plotcomposite.RemoveAllPlotWindows"
            id="de.ptb.epics.eve.editor.command.removeallplotwindows"
            name="Remove All Plot Windows">
      </command>
      <command
            defaultHandler="de.ptb.epics.eve.editor.handler.AddAbstractDevices"
            id="de.ptb.epics.eve.editor.command.addabstractdevices"
            name="Add Abstract Devices">
         <commandParameter
               id="de.ptb.epics.eve.editor.command.addabstractdevices.devicelist"
               name="Device List"
               optional="false">
         </commandParameter>
      </command>
      <category
            id="de.ptb.epics.eve.editor.command.filloptions"
            name="Fill Options">
      </category>
      <command
            categoryId="de.ptb.epics.eve.editor.command.filloptions"
            defaultHandler="de.ptb.epics.eve.editor.handler.editor.FillAxisPositions"
            id="de.ptb.epics.eve.editor.command.saveallaxispositions"
            name="Save All Axis Positions">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.command.filloptions"
            defaultHandler="de.ptb.epics.eve.editor.handler.editor.FillChannelValues"
            id="de.ptb.epics.eve.editor.command.saveallchannelvalues"
            name="Save All Channel Values">
      </command>
      <command
            categoryId="de.ptb.epics.eve.editor.command.filloptions"
            defaultHandler="de.ptb.epics.eve.editor.handler.editor.FillClear"
            id="de.ptb.epics.eve.editor.command.clear"
            name="Clear">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/concepts/toc_concepts.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/reference/toc_reference.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/tasks/toc_tasks.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="help/index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ptb.epics.eve.editor.handler.editor.AddAppendedScanModule"
            commandId="de.ptb.epics.eve.editor.command.addappended">
      </handler>
      <handler
            class="de.ptb.epics.eve.editor.handler.editor.AddNestedScanModule"
            commandId="de.ptb.epics.eve.editor.command.addnested">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.ptb.epics.eve.editor.gef.editparts.ScanModuleEditPart"
            class="de.ptb.epics.eve.editor.adapters.ScanModuleAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
