<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/concepts/toc_concepts.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/tasks/toc_tasks.xml"
            primary="false">
      </toc>
      <toc
            file="help/content/reference/toc_reference.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
