body {
 	max-width: 800px;
}

p {
	text-align: justify;
}

/* ********* classes ********** */

p.attention {
	border: 1px solid red;
	display: inline;

    padding: .5em;
}

p.formula {
	margin: 10px auto;
	text-align: center;
	padding: .5em;
}

.eveTopic {
	margin-bottom: 10px;
}

.eveImage {
	margin: 10px 0;
}

.eveRefTable {
	empty-cells: show;
	border: 2px solid black;
	padding: 0;
	margin: 15px 5px;
	border-collapse: collapse;
	max-width: 700px;
}

.eveRefTable th, td {
	border: 1px solid black;
	margin: 0;
	padding: 4px;
}

.backToTop {
	font-style: underline;
	display: inline;
	padding-left: 20px;
	background: url(../img/misc/prev_nav.gif) no-repeat;
}

.eveUl {
	margin: 10px 0;
}

.code {
	text-align: left;
	font-family: "Courier New", "Lucida", "Console";
	margin: 15px 40px;
	background: Lavender;
	padding: 10px;
}

.new {
	color: DarkRed;
	float: left;
}

.eveOl li {
	margin-bottom: 10px;
}